{% extends 'base.html' %}

{% block title %} Lista de Clientes {% endblock %}

{% block main %}

<h1>Listagem</h1>
{% if user.is_authenticated %}
  <p>Olá {{user.username}}</p>
{% endif %}
<div id="root">
  <a class="badge badge-pill badge-danger" href="{% url 'logout' %}">Sair</a>
  <ul class="list-group">
   {% for pessoa in persons %}
    <li class="list-group-item">
      <a class="badge badge-pill badge-info" href="{% url 'personUpdate' pessoa.id %}">{{pessoa.first_name}} {{pessoa.last_name}}</a>
      <a class="badge badge-pill badge-danger" href="{% url 'personDelete' pessoa.id %}">Deletar</a>
    </li>
    {% endfor %}
 </ul>
</div>
<br>
<button name="button" class="btn btn-primary"><a class="badge badge-primary" href="{% url 'personNew' %}">Novo Cliente</a></button>

{% endblock %}
