{% extends 'base.html' %}

{% load bootstrap %}

{% block title %} Login {% endblock %}

{% block main %}

<div class="card text-center">
  <div class="card-header">
    <h1>Login</h1>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <form class="form-group" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
      </form>
    </blockquote>
  </div>
</div>

{% endblock %}
